Node MCU com Sensor DHT11/node-red/flow node-red.txt
[{"id":"6fb7fa7.52e2384","type":"debug","z":"366c6a99.a053ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":131,"wires":[]},{"id":"9517bca8.c7e19","type":"ibmiot in","z":"366c6a99.a053ae","authentication":"apiKey","apiKey":"c80a4b12.1a7b6","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"NodeDht11","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":177,"y":128,"wires":[["2af704e5.3180d4","d3698620.06d008"]]},{"id":"2af704e5.3180d4","type":"change","z":"366c6a99.a053ae","name":"temperatura","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":371,"y":107,"wires":[["6fb7fa7.52e2384","db47d8f2.1d64d8"]]},{"id":"d3698620.06d008","type":"change","z":"366c6a99.a053ae","name":"umidadeAr","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.umidadeAR","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":367,"y":160,"wires":[["6fb7fa7.52e2384","6d9e00a1.dd788"]]},{"id":"db47d8f2.1d64d8","type":"ui_gauge","z":"366c6a99.a053ae","name":"","group":"630eba0e.91477c","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"50","x":644,"y":71,"wires":[]},{"id":"6d9e00a1.dd788","type":"ui_gauge","z":"366c6a99.a053ae","name":"","group":"71ba847c.f8141c","order":0,"width":0,"height":0,"gtype":"gage","title":"Umidade","label":"umidade","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":636,"y":209,"wires":[]},{"id":"c80a4b12.1a7b6","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"l1n9wo.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"NodeDht11","shared":false},{"id":"630eba0e.91477c","type":"ui_group","z":"","name":"Sensor Temperatura","tab":"15285f58.483949","order":1,"disp":true,"width":"6","collapse":false},{"id":"71ba847c.f8141c","type":"ui_group","z":"366c6a99.a053ae","name":"Umidade","tab":"15285f58.483949","order":2,"disp":true,"width":"6","collapse":false},{"id":"15285f58.483949","type":"ui_tab","z":"","name":"Sensores","icon":"dashboard"}]